p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(229, 241, 252);
}
img {
    display: block;
    width: 270px;
    height: 150px;
    object-fit: cover;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
}

/* Search Box */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-image: linear-gradient(darkblue, rgb(229, 241, 252));
}

.search-form-input {
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;
}
.button {
    margin-left: 10px;
    background-color: darkblue;
    border-radius: 18px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;

}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lightbox {
    color: black;
    text-decoration: none;
}

.photo-card {
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.info-number {
    margin-top: 5px;
    font-weight: 400;
    font-size: 11px;
}